.include /usr/share/buildkite-agent/systemd/buildkite-agent.service

[Service]
ExecStopPost=+/sbin/shutdown -h +1 "buildkite-agent stopped - shutting down"
Restart=no
