[submodule "build-agent-ipxtester/ipxwrapper-ci"]
	path = build-agent-ipxtester/ipxwrapper-ci
	url = https://github.com/solemnwarning/ipxwrapper-ci.git
[submodule "build-cluster-manager/buildkite-spot-fleet-scaler"]
	path = build-cluster-manager/buildkite-spot-fleet-scaler
	url = https://github.com/solemnwarning/buildkite-spot-fleet-scaler.git
